body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #b5c00c;
  border-radius: 10px;
  padding: 5px;
}