#Portfolio {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin-left: 10%;
    padding-top: 2%;
}

.portfolio-items-container {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-navbar {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.portfolio-navbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #45505b;
    font-family: Raleway, sans-serif;
}

.portfolio-navbar button:hover {
    color: #b5c00c;
}

.activeNav {
    color: #b5c00c !important;
}

.portfolio-items {
    margin-top: 25px;
    width: 65vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 15px 10px;
    position: relative;
    animation: fadeanimation 0.6s ease-in-out;
    box-shadow: #0000007b 5px 5px 15px;
}

.portfolio-item:hover {
    transform: scale(1.08);
    transition-duration: 0.6s;
    box-shadow: #000000 5px 8px 15px;
}


@keyframes fadeanimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width:480px) {
    .portfolio-navbar {
        width: 100%;
    }

    .all-portfolio-items-maincontainer {
        display: block;
    }
}

@media screen and (min-width : 481px) and (max-width:1024px) {
    .portfolio-navbar {
        width: 80%;
    }

}